[submodule ".vim/bundle/buftabline"]
	path = bundle/buftabline
	url = git@github.com:ap/vim-buftabline.git
[submodule ".vim/bundle/csapprox"]
	path = bundle/csapprox
	url = git@github.com:godlygeek/csapprox.git
[submodule ".vim/bundle/pathogen"]
	path = bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/easy-align"]
	path = bundle/easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule ".vim/bundle/markdown"]
	path = bundle/markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule ".vim/bundle/signature"]
	path = bundle/signature
	url = git@github.com:kshenoy/vim-signature.git
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = git@github.com:JuliaEditorSupport/julia-vim
[submodule "bundle/diffchar"]
	path = bundle/diffchar
	url = git@github.com:rickhowe/diffchar.vim
